@page "/maya/course/{CourseId:int}/subjects"
@using MapaAndMaya.Services.Models
@using MapaAndMaya.Services


@layout MayaLayout
@inject NavigationManager _NavigationManager;
@inject SubjectInCourseService _SubjectInCourseService;

<RadzenTabs @ref="tabs" RenderMode="TabRenderMode.Client">
    <Tabs>
        @if (Course != null)
        {
            foreach (var item in Course.SubjectsByYears)
            {
                <RadzenTabsItem Text="@($"{item.Year} Año")">
               <RadzenRow JustifyContent="JustifyContent.End" AlignItems="AlignItems.End">
                               <RadzenButton Icon="save" Text="Guardar Cambios" Disabled="@DisableButton" ButtonStyle="ButtonStyle.Primary" Click="@ChangeExamsState" class="my-3"/>
                               <RadzenButton Icon="restart-alt" Text="Descartar Cambios" Disabled="@DisableButton" ButtonStyle="ButtonStyle.Dark" Click="@RestartChanges" class="my-3"/>
                           </RadzenRow>
                    <RadzenRow>
                        <RadzenColumn Size="6" Style="padding:50px">
                            <RadzenDataGrid Data="@item.SubjectsOfFirstPeriod" TItem="SubjectInCourse" AllowPaging="true"
                                            PageSize="20" PagerHorizontalAlign="HorizontalAlign.Center"
                                            AllowSorting="true">
                                <EmptyTemplate>
                                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Nada que mostrar.</p>
                                </EmptyTemplate>
                                <Columns>
                                    <RadzenDataGridColumn TItem="SubjectInCourse" Property="Subject.Name" Title="Asignaturas del Primer Periodo" />
                                    <RadzenDataGridColumn TItem="SubjectInCourse" Context="data" Title="Tiene Examen Final" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="156px">
                                        <Template Context="data">
                                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                                                <RadzenSwitch @bind-Value=@data.HaveFinalExam Change=@(args => OnChange(data)) Name="HaveFinalExam1"/>
                                            </RadzenStack>
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>
                        </RadzenColumn>
                        <RadzenColumn Size="6" Style="padding:50px">
                            <RadzenDataGrid Data="@item.SubjectsOfSecondPeriod" TItem="SubjectInCourse" AllowPaging="true"
                                            PageSize="20" PagerHorizontalAlign="HorizontalAlign.Center"
                                            AllowSorting="true">
                                <EmptyTemplate>
                                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Nada que mostrar.</p>
                                </EmptyTemplate>
                                <Columns>
                                    <RadzenDataGridColumn TItem="SubjectInCourse" Property="Subject.Name" Title="Asignaturas del Segundo Periodo"/>
                                    <RadzenDataGridColumn TItem="SubjectInCourse" Context="data" Title="Tiene Examen Final" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="156px">
                                        <Template Context="data">
                                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                                                <RadzenSwitch @bind-Value=@data.HaveFinalExam Change=@(args => OnChange(data)) Name="HaveFinalExam2"/>
                                            </RadzenStack>
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenTabsItem>
            }
        }
    </Tabs>
</RadzenTabs>

@code {

    private Task OnChange(SubjectInCourse data)
    {
        if (ItemsChanged.Contains(data))
        {
            ItemsChanged.Remove(data);
        }
        else
        {
            ItemsChanged.Add(data);
        }
        DisableButton = !ItemsChanged.Any();
        StateHasChanged();
        return Task.CompletedTask;
    }

}